// Place all the styles related to the admins::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// admins/users/index
.admin-user-card .card-body {
  border-top: 10px solid #0000CD;
  .admin-user-table {
    table-layout: fixed;
    thead tr th {
      border: 1px solid #A9A9A9;
      border-bottom: 3px double #A9A9A9;
    }
    tbody tr td {
      border: 1px solid #A9A9A9;
    }
  }
}