// Place all the styles related to the public::learnings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// learning関係
.learning-header {
  background: linear-gradient(#8D1D55, #AAAA00);
  font-size: 20px;
  color: #FFF;
}


.learning-text {
  background: #CCC;
  box-shadow: 0px 0px 0px 5px #CCC;
  border: dashed 1px #000;
  padding: 0.2em 0.5em;
}
.user-img {
  width: 10%;
  padding: 0.2em;
  border-radius: 50%;
  border: dashed 3px #98878F;
}
.user-name a {
  color: #192231;
  font-size: 16px;
  text-decoration: none;
}