// Place all the styles related to the public::learnings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// public/users/learnings/show
.user-img {
  width: 8%;
  border-radius: 50px;
}
.user-name a {
  color: #192231;
  font-size: 16px;
  text-decoration: none;
}