// Place all the styles related to the public::tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.task-header {
  background: linear-gradient(#009900, #759350);
  font-size: 20px;
  color: #FFF;
}
.task-title {
  color: #512700;
  text-shadow: 0px 0px 20px #FF9933;
}
.high-priority {
  background: #FADBDA;
}
.medium-priority {
  background: #FDF5E6;
}
.low-priority {
  background: #FFF;
}
.new-task-content {
  border-left: solid 10px #FF3333;
}
.processing-task-content {
  border-left: solid 10px #FF9900;
}
.completed-task-content {
  border-left: solid 10px #005FFF;
}
.pending-task-content {
  border-left: solid 10px #00DD00;
}
.task-content {
  padding: 0.5em 1em;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.33);
  .card-title a, .card-text {
    color: #512700;
  }
}
.show-table {
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-all;
  tbody tr .task-detail-text {
    white-space: pre-wrap;
  }
  .new-task {
    color: #FF3333;
  }
  .processing-task {
    color: #FF9900;
  }
  .completed-task {
    color: #005FFF;
  }
  .pending-task {
    color: #00DD00;
  }
}

@media screen and (max-width: 767px) {
  .due-select {
    font-size: 12px;
  }
}

@media screen and (max-width: 425px) {
  .task-title {
    font-size: 28px;
  }
  .select-box {
    font-size: 12px;
  }
}
