// Place all the styles related to the public::users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-header {
  background: linear-gradient(#2B2BD5, #236AB1);
  font-size: 20px;
  color: #FFF;
}
.profile-title {
  color: #512700;
  text-shadow: 0px 0px 20px #00AA00;
}
.profile .row{
  color: #512700;
  .profile-content-left .card .card-body {
    .user-img-lg {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
    .profile-text a {
      color: #512700;
    }
    .biography-text {
      white-space: pre-wrap;
    }
    .btn {
      border-radius: 25px;
    }
    .profile-time-btn {
      background: #005FFF;
    }
    .profile-learning-btn {
      background: #FF3333;
    }
    .profile-list-btn {
      background: #759350;
    }
  }
}
.profile-table {
  table-layout: fixed;
  word-break: break-all;
  word-wrap: break-all;
}
.new-task {
  color: #FF3333;
}
.processing-task {
  color: #FF9900;
}
.completed-task {
  color: #005FFF;
}
.pending-task {
  color: #00DD00;
}
.user-list-title {
  color: #512700;
  text-shadow: 0px 0px 20px #00AA00;
}
.user-list-content {
  .card {
    border: none;
    background: none;
    .col-md-4 {
      justify-content: flex-end;
      img {
        width: 180px;
        height: 180px;
        border: 8px outset #00BB00;
      }
    }
    .col-md-8 {
      background: #FFF;
      color: #512700;
      border: 1px solid #00BB00;
      a {
        color: #512700;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .user-list-content .card .col-md-4 {
    justify-content: center; 
  }
}

@media screen and (max-width: 425px) {
  .profile-title {
    font-size: 24px;
  }
  .profile-btn .col-lg-8 .btn {
    font-size: 14px;
  }
  .profile-table {
    font-size: 12px;
  }
  .user-list-title {
    font-size: 32px;
  }
}

@media screen and (max-width: 320px) {
  .profile-btn .col-lg-8 .btn {
    font-size: 12px;
  }
}