<div class="container">
  <% breadcrumb :followings_user, @user %>
  <%= render "layouts/breadcrumbs" %>
  <h1 class="my-3 text-center user-list-title"><i class="fas fa-users"></i></i> <%= @user.nickname %>さんがフォロー中のユーザー</h1>
  <%= render 'public/users/index', users: @users %>
</div>