<div class="container study-record">
  <h1 class="my-3 text-center study-record-title"><i class="fas fa-book"></i> みんなの学習記録</h1>
  <%= render 'search_form', search: @search %>
  <%= render 'study_record', learnings: @learnings %>
  <%= paginate @learnings %>
</div>