<div class="main-visual-content">
  <h1 class="mv-title">MyStudy Note<br><small class="mv-text">自分だけの学習ノートを作成しよう！</small></h1>
  <div class="slick-wrapper">
    <div class="main-visual main-visual1"></div>
    <div class="main-visual main-visual2"></div>
    <div class="main-visual main-visual3"></div>
  </div>
</div>
<div class="top-content">
  <h2 class="top-title mt-5">MyStudy Noteとは？</h2>
  <p class="top-text mt-3">「学習内容の記録&共有・やることリストの作成」ができるサイトです。</p>
</div>
<div class="introduction mt-5">
  <div class="introduction-content">
    <div class="explanation">
      <section class="e-content">
        <div class="e-visual e-visual1"></div>
        <h3 class="e-title">学習の記録</h3>
        <p class="e-text">
          日付、学習時間、内容を入力することで日々の勉強を記録することができます。記録した内容はいつでも見返すことができます。今までの学習時間はグラフで確認できます。
        </p>
      </section>
      <section class="e-content">
        <div class="e-visual e-visual3"></div>
        <h3 class="e-title">学習内容の共有</h3>
        <p class="e-text">
          他の人の学習記録を閲覧することができるので、自分の学習の参考にしてください。また、学習内容に対していいねやコメントをすることができます。（学習記録は非公開にすることも可能です）
        </p>
      </section>
      <section class="e-content">
        <div class="e-visual e-visual2"></div>
        <h3 class="e-title">ToDoリストの作成</h3>
        <p class="e-text">
          ToDoリストを作成することで自分のタスクを整理することができます。タスクの期限や進捗度も設定可能です。タグ付けによってタスクの種類を指定することもできます。
        </p>
      </section>
    </div>
  </div>
</div>
<div class="container study-record">
  <h1 class="my-3 text-center study-record-title"><i class="fas fa-book"></i> みんなの学習記録</h1>
  <%= render 'study_record', learnings: @learnings %>
  <div class="text-center mb-5"><%= link_to 'もっと見る>>', common_learnings_path %></div>
</div>