.simple-calendar {
  color: #512700;
  .calendar-heading a {
    text-decoration: none;
  }
  .table-striped thead th {
    background: #91B5F2;
    border-color: #808080;
  }
  .day,
  .table-striped thead tr {
    color: #512700;
    background: #f8f8f8;
    border-color: #808080;
  }
  .today {
    background: #FFFFC0;
  }
  .prev-month,
  .next-month {
    background: #DDD;
  }
}

@media screen and (max-width: 576px) {
  .simple-calendar {
    display: none;
  }
}
