/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'ヒラギノ明朝 ProN W6', 'HiraMinProN-W6', 'Noto Serif JP', sans-serif;
}

// ヘッダ、フッタ
.header-top {
  width: 100vw;
  background: #FFF;
   border-bottom: solid 2px #A9A9A9	;
  .container {
    width: 100%;
    margin: 0 auto;
    .logo {
      font-size: 24px;
      color: #000;
      text-decoration: none;
      img {
        width: 50px;
        height: 50px;
        margin: 10px 10px 10px 30px;
      }
    }
    .header-ul {
      position: absolute;
      right: 30px;
      .header-li span a {
        padding: 15px;
        color: rgb(0, 150, 250);
        text-decoration: none;
      }
    }
  }
}
.header-bottom {
  width: 100vw;
  height: 70px;
  background: linear-gradient(#3E3E3B, #98878F);
  line-height: 70px;
  span {
    padding: 20px;
    a {
      color: #FFF;
      font-size: 14px;
      text-decoration: none;
    }
    i {
      color: #FFF;
    }
  }
}

// フッタ下部固定
.body,
#wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer {
  margin-top: auto;
  width: 100vw;
}

// サイドバー
.sidebar {
  .sidebar-header {
    background: linear-gradient(#000, #C0C0C0);
    font-size: 20px;
    color: #FFF;
  }
  .card-body {
    .row .col-lg-12 a img {
      width: 25%;
      padding: 0.2em;
      border-radius: 50%;
      border: dashed 3px #98878F;
    }
    .row .current-user-name a {
      font-size: 20px;
      color: #000;
      text-decoration: none;
    }
    .row .my-study-time {
      padding: 10px 0;
      border-top: dashed 2px #98878F;
      border-bottom: dashed 2px #98878F;
      .fa-clock {
        color: #94618E;
      }
    }
  }
  .sidebar-bottom {
    background: linear-gradient(#3E3E3B, #98878F);
    font-size: 20px;
    color: #FFF;
  }
  ul .list-group-item {
    background: #EBECED;
    a { 
      text-decoration: none;
    }
  }
  .row .col-lg-12 small a {
    text-decoration: none;
  }
}

// 共通
#wrapper {
  background: #EBECED;
}
.card-body a {
  text-decoration: none;
}

// 新規登録・ログイン
.sign-header {
  background: linear-gradient(#1E90FF, #2C7CFF);
  padding-left: 80px;
  font-size: 20px;
  color: #FFF;
}
// 管理者共通
.admin-header {
  padding-left: 80px;
  font-size: 20px;
}

// ボタン
.btn {
  color: #FFF;
}
.btn-outline-success {
  background-color: #00CC00;
}
.btn-outline-primary {
  background-color: #0000FF;
}
.btn-outline-info {
  background-color: #00BFFF;
}
.btn-outline-danger {
  background-color: #CC0000;
}

// user系
.user-header {
  background: linear-gradient( #192231, #494E68);
  font-size: 20px;
  color: #FFF;
}
.user-img-lg {
  width: 15%;
  padding: 0.2em;
  border-radius: 50%;
  border: dashed 3px #98878F;
}
.user-name-lg a {
  color: #192231;
  font-size: 24px;
  text-decoration: none;
}
.user-text {
  position: relative;
  padding: 0.25em 0;
}
.user-text:after {
  content: "";
  display: block;
  height: 4px;
  background: -webkit-linear-gradient(to right, rgb(25, 34, 49), transparent);
  background: linear-gradient(to right, rgb(25, 34, 49), transparent);
}
.card .learnings-header {
  background: #494E6B;
  height: 32px;
  a {
    font-size: 16px;
    text-decoration: none;
  }
}
.header-sm,
#task_chart,
#learning_chart,
.list-none {
  background: #EBECED;
}

// task系
.list-header {
  background: linear-gradient( #985E6D, #8F324A);
  font-size: 20px;
  color: #FFF;
}
.list-text {
  background: #EBBFC5;
  box-shadow: 0px 0px 0px 5px #EBBFC5;
  border: dashed 1px #985E6D;
  padding: 0.2em 0.5em;
  color: #454545;
}
.list-status span {
  font-size: 20px;
  color: #985E6D;
}
.task-group {
  position: relative;
  li {
    background: #EBECED;
    a {
      text-decoration: none;
    }
  }
  .task-btn {
    position: absolute;
    top: 20px;
    right: 10px;
    .edit-btn {
      border: 2px solid #6495ED;
      border-radius: 100vh;
    }
    .delete-btn {
      border: 2px solid #b84c00;
      border-radius: 100vh;
    }
  }
}

// learning系
.learning-header {
  background: linear-gradient(#000, #C0C0C0);
  font-size: 20px;
  color: #FFF;
}
.learning-text {
  background: #CCC;
  box-shadow: 0px 0px 0px 5px #CCC;
  border: dashed 1px #000;
  padding: 0.2em 0.5em;
}
.user-img {
  width: 10%;
  padding: 0.2em;
  border-radius: 50%;
  border: dashed 3px #98878F;
}
.user-name a {
  color: #192231;
  font-size: 16px;
  text-decoration: none;
}

// leaning_times
.learning-time-header {
  background: linear-gradient(#3A614F, #BABEA5);
  font-size: 20px;
  color: #FFF;
}

// コメント
.comment-header {
  background: #DDD;
}

// いいね
.heart {
  color: #94618E;
}

// 検索
.search-form {
  background: #EBECED;
}