/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif JP', sans-serif;
}

// ヘッダ、フッタ
header,
footer {
  width: 100vw;
  background: #3E3E3B;
}
.navbar .container {
  width: 100%;
}
.logo img {
  width: 100px;
  height: 100px;
  margin: 10px 10px 10px 30px;
  border-radius: 30px;
}
.navbar-nav li a {
  padding: 10px;
  color: #FFF;
  background-color: #808080;
  border-radius: 10px;
  text-decoration: none;
}
li {
  padding: 10px;
}
.navbar-brand {
  font-family: "Century";
}
footer {
  height: 80px;
}
.copyright {
  line-height: 80px;
}

main {
  background: #CBC5C1;
}
.card-header {
  background: #3E3E3B;
  padding-left: 80px;
  font-size: 20px;
  color: #FFF;
}
.card-body {
  background: #EBECED;
}

// ボタン
.btn {
  color: #FFF;
}
.btn-outline-success {
  background-color: #626E60;
}
.btn-outline-primary {
  background-color: #494E6B;
}
.btn-outline-info {
  background-color: #8EAEBD;
}