/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Yusei Magic', 'ヒラギノ明朝 ProN W6', 'HiraMinProN-W6', 'Noto Serif JP', sans-serif;
}

// ヘッダー、フッター
.header-main, // ログイン前
.user-header-main .user-header-top, // ログイン後ヘッダー上部
.user-header-main .user-header-content { // ログイン後ハンバーガーメニュー
  background: rgba(81, 176, 0, 0.6);
  border-bottom: solid 1px #009900;
}
.header-main .navbar-brand a,
.user-header-main .navbar-brand a,
.user-header-content .navbar-brand a {
  font-size: 30px;
  color: #512700;
  text-shadow: 2px 2px 5px #008000;
  text-decoration: none;
  font-weight: 900;
  font-family: 'Comic Sans MS', sans-serif;
}
.header-main .navbar-brand a img,
.user-header-main .navbar-brand a img,
.user-header-content .navbar-brand a img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}
.header-main .navbar-nav .nav-item a,
.user-header-main .navbar-nav .nav-item a,
.user-header-content .navbar-nav .nav-item a {
  color: #512700;
  font-size: 18px;
}
.header-main .navbar-toggler,
.user-header-main .navbar-toggler,
.user-header-content .navbar-toggler,
.user-header-content .navbar-nav .nav-bottom a {
  border-color: #512700;
}
.header-main .navbar-toggler-icon,
.user-header-main .navbar-toggler-icon,
.user-header-content .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(81,39,0,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
// ログイン後ヘッダー下部
.user-header-bottom nav .navbar-collapse {
  background: rgba(81, 39, 0, 0.6);
  padding: 1rem;
  .navbar-nav .navbar-nav .nav-item a {
    color: #F8F8F8;
    font-weight: 100;
    text-decoration: none;
    font-size: 16px;
  }
}
// 管理者ヘッダー
.admin-header-main {
  background: #222;
  border-bottom: solid 2px #808080;
  nav .container {
    .navbar-brand a {
      font-family: 'ヒラギノ明朝 ProN W6', 'HiraMinProN-W6', 'Noto Serif JP', sans-serif;
      font-size: 24px;
      color: #FFF;
      text-decoration: none;
    }
    .navbar-toggler {
      border-color: #FFF;
      .navbar-toggler-icon {
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
      }
    }
    .navbar-collapse ul li a {
      font-family: 'ヒラギノ明朝 ProN W6', 'HiraMinProN-W6', 'Noto Serif JP', sans-serif;
    }
  }
}
// フッター下部固定
.body,
#wrapper,
#admin-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  footer {
    margin-top: auto;
  }
}
.public-footer {
  background: rgba(81, 39, 0, 0.6);
  color: #F8F8F8;
}
// 管理者フッター
.admin-footer {
  background: #222;
  color: #FFF;
  p {
    font-family: 'ヒラギノ明朝 ProN W6', 'HiraMinProN-W6', 'Noto Serif JP', sans-serif;
  }
}
// 共通
#wrapper {
  background: 
  radial-gradient(rgba(143,188,143,0.4) 3px, transparent 4px),
  radial-gradient(rgba(143,188,143,0.4) 3px, transparent 4px),
  linear-gradient(#F4EDE6 4px, transparent 0),
  linear-gradient(45deg, transparent 74px, transparent 75px, rgba(143,188,143,0.4) 75px, rgba(143,188,143,0.4) 76px, transparent 77px, transparent 109px),
  linear-gradient(-45deg, transparent 75px, transparent 76px, rgba(143,188,143,0.4) 76px, rgba(143,188,143,0.4) 77px, transparent 78px, transparent 109px),
  #F4EDE6;
  background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
  background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}
#admin-wrapper {
  background: #FFF;
}
.card-body a {
  text-decoration: none;
}
// 新規登録・ログイン
.sign-header {
  background: linear-gradient(#1E90FF, #2C7CFF);
  text-align: center;
  font-size: 20px;
  color: #FFF;
}
.sign-btn div .btn {
  width: 280px;
}
// 管理者ログイン
.admin-header,
.admin-title,
.admin-search-form,
.admin-search-btn,
.admin-search-label {
  font-family: 'ヒラギノ明朝 ProN W6', 'HiraMinProN-W6', 'Noto Serif JP', sans-serif;
}
.admin {
  label,
  .form-control,
  small,
  a,
  input,
  span,
  p {
  font-family: 'ヒラギノ明朝 ProN W6', 'HiraMinProN-W6', 'Noto Serif JP', sans-serif;
  }
}
// ボタン
.btn {
  color: #FFF;
}
.btn-outline-success {
  background-color: #00CC00;
}
.btn-outline-primary {
  background-color: #0000FF;
}
.btn-outline-info {
  background-color: #00BFFF;
}
.btn-outline-danger {
  background-color: #CC0000;
}
.btn-outline-dark {
  background-color: #999;
}
.btn-outline-light {
  color: #000;
  background-color: #E9E9E9;
  border-color: #7F7F7F;
}
// 学習時間確認画面
.time-notation {
  color: #512700;
}
.date-period-select {
  border: solid 1px #009900;
  background: #33CC66;
}
// コメント
.user-comment {
  background: #F4EDE6;
  .fa-comment {
    color: #FF6633;
  }
  div, small {
    color: #512700;
  }
  .comment-delete {
    border-bottom: solid 1px #512700;
  }
}
// いいね
.favorite {
  a {
    text-decoration: none;
  }
  .heart {
    color: #FF3300;
    font-size: 18px;
  }
}
// 検索
.search-button {
  border-color : #00AA00;
  background: #00CC00;
  color: #FFF;
}
// タグ
.tag,
.admin-learning-tag {
  border-radius: 25px;
  font-size: 14px;
  color: #FFF;
  text-decoration: none;
  line-height: 2.5;
}
.learning-tag,
.admin-learning-tag {
  border: solid 1px #009900;
  background: #00CC00;
}
.task-tag {
  border: solid 1px #AA5500;
  background: #FF8000;
}
.admin-learning-tag {
  font-family: 'ヒラギノ明朝 ProN W6', 'HiraMinProN-W6', 'Noto Serif JP', sans-serif;
}
// ページング
.pagination {
  display: flex;
  justify-content: center;
  text-decoration: none;
  .disabled {
    display: none;
  }
}
.page-item.active .page-link {
  border: 1px solid #512700;
  background: #512700;
}
.page-item .page-link {
  border: 1px solid #512700;
  color: #512700;
}
#admin_paginate {
  .pagination, .page-item.active .page-link, .page-item .page-link {
    font-family: 'ヒラギノ明朝 ProN W6', 'HiraMinProN-W6', 'Noto Serif JP', sans-serif;
  }
  .page-item.active .page-link {
    background: #000;
  }
}
// エラーメッセージ
#error_explanation {
  text-align: center;
  background: #FADBDA;
  border: solid 1px red;
  color: red;
  h3 {
    font-family: 'ヒラギノ明朝 ProN W6', 'HiraMinProN-W6', 'Noto Serif JP', sans-serif;
  }
  ul li {
    list-style: none;
    font-family: 'ヒラギノ明朝 ProN W6', 'HiraMinProN-W6', 'Noto Serif JP', sans-serif;
  }
}
// フラッシュメッセージ
.notifications {
  color: #FFF;
  text-align: center;
  .notice, .alert {
    font-family: 'ヒラギノ明朝 ProN W6', 'HiraMinProN-W6', 'Noto Serif JP', sans-serif;
    padding: 0;
    margin: 0;
    height: 40px;
    line-height: 40px;
    border-radius: 0;
  }
  .notice {
    background-color: #4689FF;
  }
  .alert {
    background-color: #FF6633;
  }
}
// 画像プレビュー
.learning-image {
  width: 250px;
}
.user-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.image-preview:hover {
  cursor: pointer; 
  opacity: 0.7;
  transform: scale(1.01, 1.01);
}
// パンくずリスト
.breadcrumbs {
  color: #512700;
  font-size: 15px;
  padding: 10px 0;
  font-family: 'ヒラギノ明朝 ProN W6', 'HiraMinProN-W6', 'Noto Serif JP', sans-serif;
  span {
    font-family: 'ヒラギノ明朝 ProN W6', 'HiraMinProN-W6', 'Noto Serif JP', sans-serif;
  }
  a {
    font-family: 'ヒラギノ明朝 ProN W6', 'HiraMinProN-W6', 'Noto Serif JP', sans-serif;
    text-decoration: none;
    color: #512700;
  }
}

@media screen and (max-width: 425px) {
  a.page-link {
    font-size: 14px;
  }
  .learning-title {
    font-size: 24px;
  }
  #dropdown_menu_btn {
    font-size: 12px;
  }
  .breadcrumbs {
    font-size: 10px;
  }
}

@media screen and (max-width: 280px) {
  .header-main .navbar-brand a,
  .user-header-main .navbar-brand a,
  .user-header-content .navbar-brand a {
    font-size: 22px;
  }
  .navbar .container .navbar-toggler {
    padding: 0.2rem;
  }
  .sign-btn div .btn {
    font-size: 14px;
    width: 250px;
  }
  .learning-image {
    width: 200px;
  }
  a.page-link {
    font-size: 12px;
    padding: 0.25rem 0.5rem;
  }
}
