<div class="row mt-2">
  <div class="col-lg-10 offset-lg-1">
    <% if learning.favorited_by?(current_user) %>
      <%= link_to learning_favorites_path(learning), method: :delete do %>
        <p class="heart">♥<%= learning.favorites.count %> いいね</p>
      <% end %>
    <% else %>
      <%= link_to learning_favorites_path(learning), method: :post do %>
        <p class="heart">♡<%= learning.favorites.count %> いいね</p>
      <% end %>
    <% end %>
  </div>
</div>