<h1>自分の学習記録一覧</h1>

<%= render 'index', learnings: @learnings %>
<%= render 'search_form', search: @search %>
<div class="sidebar col-lg-4">
  <%= render 'layouts/sidebar_top', my_today_study_time: @my_today_study_time, my_yesterday_study_time: @my_yesterday_study_time %>
  <%= render 'layouts/sidebar_bottom', my_tasks: @my_tasks %>
</div>