<div class="container study-record">
  <h1 class="my-3 text-center learning-title"><i class="fas fa-book-open"></i> <%= current_user.nickname %>さんの学習記録検索結果</h1>
  <%= render 'search_form', search: @search %>
  <%= render 'index', learnings: @learning_search %>
</div>