<div class="container">
  <h1 class="my-3 text-center task-title"><i class="fa fa-list-alt"></i> <%= current_user.nickname %>さんのToDoリスト一覧</h1>
  <%= render 'public/tasks/search_form', search: @search %>
  <%= render 'public/tasks/index', tasks: @tasks %>
</div>
<div class="text-center my-3"><%= paginate @tasks %></div>