<div class="col-lg-6 mb-2">
  <div class="card h-100">
    <div class="header-sm text-center py-1 border-bottom"><i class="fa fa-graduation-cap"></i> 学習時間</div>
    <div class="card-body text-center">
      <table border="1" width="80%" class="mx-auto">
        <tr>
          <th>今日</th>
          <th>過去1週間</th>
          <th>過去1ヶ月</th>
        </tr>
          <tr>
          <th><%= today_study_time %> 時間</th>
          <th><%= week_study_time %> 時間</th>
          <th><%= month_study_time %> 時間</th>
        </tr>
      </table>
    </div>
    <%= column_chart learning_chart, label: "学習時間 ", width: "100%", id: 'learning_chart' %>
  </div>
</div>